* {
    box-sizing: border-box;
    font-family: "Helvetica";
}

h1 {
    font-size: 1.8em;
    color: #080808;
}

section {
    background-color: #999999;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
}

section h3 {
    font-size: 1.4em;
}

section p {
    padding: 0 6px 4px 6px;
}

.navbar-brand h1 { /* Company name */
  font-family: 'Lora', serif;
  color: #020202;
  font-size: 1.6    em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #080808;
  text-align: center;
  border-bottom : 1px solid #0a0a0a;
  
}

#nav-list a:hover {
  background: #E7E7E7;
}
